<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
    <div class="card">
        <h2>Login</h2>

        <form>
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <button>Login</button>
        </form>

        <p style="text-align:center;">
            Don't have account? <a href="register.html">Register</a>
        </p>
    </div>
</div>

</body>
</html>
